@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.header {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.hamburger-menu-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu-icon{
  font-size: 3rem;
}

.hamburger-menu {
  grid-column-start: 1 span 1;
}

.selected-book {
  grid-column-start: 3 span 1;

}

p, h3, h4 {
  font-family: "Quicksand", sans-serif;
}

h4 {
  text-align: center
}