@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.header {
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

.menu-icon{
  font-size: 5rem;
}

p {
  font-family: "Quicksand", sans-serif;
}

h3 {
  font-family: "Quicksand", sans-serif;
}