@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

body {
  background-color: #F5E9FA
}

.header {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  text-decoration: underline;
}

.hamburger-book-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: baseline;
  justify-items: center;
  text-align: center;
}

.menu-icon{
  font-size: 3rem;
  margin-left: 1.5rem;
}

.selected-book {
  margin-left: 15%;
  width: 63%;
}

p, h3, h4 {
  font-family: "Quicksand", sans-serif;
}

h4 {
  text-align: center;
}