@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

@font-face {
  font-family: "NYT Font";
  src: url(./assets/Chomsky-8MOa2.otf)
}

body {
  background-color: #F5E9FA
}

.header {
  text-align: center;
  font-family: "NYT Font", sans-serif;
  font-size: 3.5rem;;
  /* text-decoration: underline; */
}

.hamburger-book-container {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-content: baseline;
  justify-items: center;
  text-align: center;
}

.menu-icon{
  font-size: 3rem;
  margin-left: 1.5rem;
}

.selected-book {
  margin-left: 15%;
  width: 63%;
  margin-top: 2rem;
}

p, h3, h4 {
  font-family: "Quicksand", sans-serif;
}

h4 {
  text-align: center;
}

@media screen and (max-width: 576px){
  .bookimg {
    width: 50%;
    height: 50%
  }

  .header {
    font-size: 2.25rem;
  }

  .hamburger-menu-container {
    flex-direction: column;
    align-items: center;
  }

  .hamburger-book-container {
    flex-direction: column;
    align-items: flex-start;
  }

  .selected-book {
    margin-left: 0;
    width: 100%;
    margin-top: 1rem;
  }

  .menu-icon {
    margin-left: .5rem;
  }
}